<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  
  <!--<appSettings>
    <add key="endpoint" value="https://betterwaystest.documents.azure.com:443/" />
    <add key="authKey" value="zsPm0lDCPRzYoF+Soi1EBuZvuBMtnmZ1luG7+9zo63vxccjtaJr4jp6d20WRf7DMl3kDa/r+3oP8xRVEUKOpMg==" />
    <add key="database" value="testbase" />
    <add key="collection" value="coachings" />
    <add key="videoReviewRedirrectUrl" value="http://betterways-test.azurewebsites.net" />
  </appSettings>-->
 
  <appSettings>
    <add key="endpoint" value="https://hsmdocdb.documents.azure.com:443/" />
    <add key="authKey" value="5xwH34mSiWebECDiYk0KAXdmJvAWO3Sr1BDSQtNUDV7XlUJC0c5qCHH0qKqvoLhaF8vPRrEw3JGlgwiBpitHjw==" />
    <add key="database" value="hsmdocdb" />
    <add key="collection" value="coachings" />
    <add key="videoReviewRedirrectUrl" value="http://betterways-test.azurewebsites.net" />
  </appSettings>
  <!--<appSettings>
    <add key="endpoint" value="https://betterways-db.documents.azure.com:443//" />
    <add key="authKey" value="bN07txUb5dUE9ypCG89/r7bhWd9CajiQTrUTJ+fstL0edGpwsz61ciKI4iyOlTvtouvUc5fPLT1myP1izGClpg==" />
    <add key="database" value="betterways_database" />
    <add key="collection" value="coachings" />
  </appSettings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <!--<customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" /> 
      </customHeaders>-->
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>