/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 20px;
    background-color: #727373;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    width: 200px;
    top: 28;
    left: 50%;
    margin-left: -100px;
}

input::-ms-clear {
    width:30px;
    height:30px;
}

input::-ms-reveal {
    width:30px;
    height:30px;
}
