<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://betterwaystest.documents.azure.com:443/" />
    <add key="authKey" value="zsPm0lDCPRzYoF+Soi1EBuZvuBMtnmZ1luG7+9zo63vxccjtaJr4jp6d20WRf7DMl3kDa/r+3oP8xRVEUKOpMg==" />
    <add key="database" value="testbase" />
    <add key="collection" value="coachings" />
  </appSettings>
  
  <!--Test db-->
  <!--<appSettings>
    <add key="endpoint" value="https://betterways-db.documents.azure.com:443//" />
    <add key="authKey" value="bN07txUb5dUE9ypCG89/r7bhWd9CajiQTrUTJ+fstL0edGpwsz61ciKI4iyOlTvtouvUc5fPLT1myP1izGClpg==" />
    <add key="database" value="betterways_database" />
    <add key="collection" value="coachings" />
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
